@import "src/styles/variables";

.button {
  min-height: 40px;
  background-color: transparent;
  border: 1px solid $buttonSecondary;
  border-radius: 5px;
  color: $buttonSecondary;
  padding: 5px 25px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;

  &:hover:not([disabled]) {
    background-color: $buttonSecondary;
    color: $white;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

}

.buttonSecondary {

}
